@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #f2f3f7;
}

::-webkit-scrollbar {
    height: 6px;
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e2e8f0;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c0c4c9;
}

.scrollbar-none::-webkit-scrollbar {
    display: none !important;
    /* Safari and Chrome */
}

.scrollbar-none {
    -ms-overflow-style: none !important;
    /* Internet Explorer 10+ */
    scrollbar-width: none !important;
    /* Firefox */
}

.loader {
  height: 5px;
  width: 100vw;
  --c:no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}